body {
    font-family: sans-serif;
    background: url('background.png') repeat;
}

a {
    text-decoration: none;
    color: black;
}

table, th, td {
    border: 1px solid black;
}

.header {
    width: 100%;
    background-color: #94DBFF;
}

.header * {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}

.header ul {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    display: block;
}

.header ul:after {
    content: "";
    clear: both;
    display: block;
}

.header a {
    text-align: center;
    font-size: 1em;
    padding: 1.63em 2em;
    float: left;
}

.header a:hover {
    background-color: #FF8533
}

#title {
    float: left;
    font-size: 1.174em;
    padding: 1em;
    background-color: #FF8533
}

.nav {
    padding: 0em 0em;
}

.page {
    background-color: #eeffee;
}
