{% extends "layout.html" %}

{% block body %}
<br>
<h2>Collection Edit</h2>
<br>
<br>

<form method=post action="/schema{{ sid }}/collection{{ cid }}/{{ action }}">
    <table border="1">
       <tr>
           <th>Collection ID: </th>
	   <td>{{ ci }}</td>
       </tr>
       <tr>
           <th>Collection Name: </th>
	   <td><input name='cn' type="text" value="{{ cn }}"></td>
       </tr>
       <tr>
	   <th>Collection Desc: </th>
	   <td><input name='cd' type="text" value="{{ cd }}"></td>
       </tr>
    </table>
    <p><input type=submit value="Save" method=post action="/schema{{ sid }}/collection{{ cid }}/{{ action }}">
</form>
{% endblock body %}
