<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Gristle</title>
</head>
<body>
    <div class=page>
      <h1>Data Gristle</h1>
      <a href="http://www.github.com/kenfar/datagristle">More Info</a>

      <a href="/">Home</a>>
      {% set path = request.path.split('/')[1:] %}
      {% set lvl = '/' %}
      {% for p in path %}
        {% set lvl = lvl + path[loop.index - 1] + '/' %}
        {% if lvl == request.path %}
          <a href="{{ lvl }}">{{ p }}</a>
        {% else %}
          <a href="{{ lvl }}">{{ p }}</a>>
        {% endif %}
      {% endfor %}

      {% block body %}
      {% endblock %}
    </div>
</body>
