<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Gristle</title>
</head>
<body>
    {% set path = request.path.split('/')[1:] %}
    <div class="header">
        <ul>
            <li><a href="/" id="title"><h2>Data Gristle</h2></a></li>
            <li><a href="http://www.github.com/kenfar/datagristle">More Info</a></li>
            {% for p in path %}
                {% if p != '' %}
                    <li>
                        <a href="/" class="nav">&#10146;{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class=page>
      {% block body %}
      {% endblock %}
    </div>
</body>
