{% extends "layout.html" %}

{% block body %}

<br>
<h2>Schema Details</h2>
<br>
<br>

<table border="1">
   <tr><td><b>Schema ID:    </td><td>{{ si }}</td></tr>
   <tr><td><b>Schema Name:  </td><td>{{ sn }}</td></tr>
   <tr><td><b>Description:  </td><td>{{ sd }}</td></tr>
</table>

<br>
<a href="/schema{{ si }}/edit">Edit this schema</a>
<br>
<a href="/schema{{ si }}/delete">Delete this schema</a>
<br>
<br>
<br>

<table border="1">
    <tr>
        <td><b>Collection ID</td>
        <td><b>Collection Name</td>
        <td><b>Collection Description</td>
    </tr>
{% for c in coll_rows %}
    <tr>
        <td>{{ c[0] }}</td>
        <td><a href="/schema{{ si }}/collection{{ c[0] }}">{{ c[1] }}</a></td>
        <td>{{ c[2] }}</td>
    </tr>
{% endfor %}
<tr>
    <td></td>
    <td><b><a href="/schema{{ si }}/collection/new">New Collection</a></td>
    <td>Click on 'New Collection' to add another collection</td>
</tr>
</table>

{% if msg %}<p class=msg><strong>Error:</strong> {{ msg }}{% endif %}
{% endblock body %}
