{% extends "layout.html" %}


{% block body %}
<br>
<h2>Schema {{ action }}</h2>
<br>
<br>
<form method=post action="/schema{{ sid }}/{{ action }}">
    <table border="1">
	<tr>
	    <th>Schema ID:</th>
	    <td>{{ sid }}</td>
	</tr>
	<tr>
	    <th>Schema Name:</th>
	    <td><input name='sn' type="text" value="{{ sn }}"></td>
	</tr>
	<tr>
	    <th>Schema Description:</th>
	    <td><input name='sd' type="text" value="{{ sd }}"></td>
	</tr>
    </table>
    <p><input type=submit value="Save" method=post action="/schema{{ sid }}/{{ action }}">
    {% if msg %}<p class=msg><strong>Error:</strong> {{ msg }}{% endif %}
</form>
{% endblock body %}
