{% extends "layout.html" %}

{% block body %}
<br>
<h2>Schema List</h2>
<br>
<br>

<table border="1">
    <tr>
        <td><b>Schema Name</td>
        <td><b>Schema Description</td>
        <td><b>Coll Cnt</td>
    </tr>
{% for s in schema_rows %}
    <tr>
        <td><a href="schema{{ s[1] }}">{{ s[0] }}</a></td>
        {% if s[2] == '' %}
            <td>{{ None }}</td>
        {% else %}
            <td>{{ s[2] }}</td>
        <td>{{ s[3] }}</td>
        {% endif %}
    </tr>
{% endfor %}
<tr>
    <td><b><a href="/schema/new">New Schema</a></td>
    <td>Click on 'New Schema' to add another schema</td>
    <td> </td>
</tr>
</table>

{% endblock body %}
